# http://domain redirects to https://domain
server {
    listen 80;
    listen [::]:80;
    server_name muctool.loxal.net;

    include /etc/nginx/snippets/letsencrypt.conf;

    location / {
        return 301 https://muctool.loxal.net:1443$request_uri;
    }
}

## http://www.domain redirects to https://www.domain
#server {
#    listen 80 default_server;
#    listen [::]:80 default_server ipv6only=on;
#    server_name muctool.loxal.net;
#
#    include /etc/nginx/snippets/letsencrypt.conf;
#
#    location / {
#        return 301 https://muctool.loxal.net:1443$request_uri;
#    }
#}
#
## https://domain redirects to https://www.domain
#server {
#    listen 443 ssl http2;
#    listen [::]:443 ssl http2;
#    server_name muctool.loxal.net;
#
#    ssl_certificate /etc/letsencrypt/live/muctool.loxal.net/fullchain.pem;
#    ssl_certificate_key /etc/letsencrypt/live/muctool.loxal.net/privkey.pem;
#    ssl_trusted_certificate /etc/letsencrypt/live/muctool.loxal.net/fullchain.pem;
#    include /etc/nginx/snippets/ssl.conf;
#
#    location / {
#        return 301 https://muctool.loxal.net:1443$request_uri;
#    }
#}
#
# Serves https://www.domain
#server {
#    server_name www.muctool.de;
#    listen 443 ssl http2 default_server;
#    listen [::]:443 ssl http2 default_server ipv6only=on;
#
#    ssl_certificate /etc/letsencrypt/live/muctool.loxal.net/fullchain.pem;
#    ssl_certificate_key /etc/letsencrypt/live/muctool.loxal.net/privkey.pem;
#    ssl_trusted_certificate /etc/letsencrypt/live/muctool.loxal.net/fullchain.pem;
#    include /etc/nginx/snippets/ssl.conf;
#
#    root /var/www/domain;
#    index index.html;
#    location / {
#        try_files $uri $uri/ =404;
#    }
#}

server {
    listen 80;
    listen [::]:80;
    server_name ci.loxal.net;

    location / {
        proxy_pass http://ci.loxal.net:8111;
    }
}