server {
    listen 80 default_server;
    listen [::]:80 default_server;

    include /etc/nginx/snippets/letsencrypt.conf;

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2 ipv6only=on;

    include /etc/nginx/snippets/ssl.conf;

    location /api {
        proxy_pass http://muctool.loxal.net:1180/;
    }
    location /product/download1 {
        proxy_pass https://github.com/loxal/muctool/archive/master.zip;
    }

    location /product/download2 {
        return 301 https://github.com/loxal/muctool/archive/master.zip;
    }

    location / {
        #        include /etc/nginx/snippets/cors.conf;
        proxy_pass http://api.muctool.de:1180;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2 ipv6only=on;
    server_name api.muctool.de;

    include /etc/nginx/snippets/ssl.conf;

    location / {
        #        include /etc/nginx/snippets/cors.conf;
        proxy_pass http://api.muctool.de:1180;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name ci.loxal.net;

    include /etc/nginx/snippets/ssl.conf;

    location / {
        proxy_pass http://ci.loxal.net:8111;
    }
}

server {
    listen 80;
    listen [::]:80;
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name sky.loxal.net;

    include /etc/nginx/snippets/ssl.conf;

    location = /dilbert-quote/ {
        proxy_pass http://sky.loxal.net:1181/dilbert-quote/index.html;
    }
    location /dilbert-quote {
        proxy_pass http://sky.loxal.net:1181/dilbert-quote;
    }
}