server {
    listen 80 default_server;
    listen [::]:80 default_server;

    location ^~ /.well-known/acme-challenge/ {
        root /etc/letsencrypt;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2 ipv6only=on;

    include /etc/nginx/snippets/ssl.conf;

    location /api {
        proxy_pass http://muctool.de:1180;
    }
    location /product/download1 {
        proxy_pass https://github.com/loxal/muctool/archive/master.zip;
    }

    location /product/download2 {
        return 301 https://github.com/loxal/muctool/archive/master.zip;
    }

    location / {
        include /etc/nginx/snippets/cors.conf;
        proxy_pass http://muctool:1180;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name loxal.org;

    include /etc/nginx/snippets/ssl.conf;

    location = / {
        proxy_pass http://muctool:1180/domain-for-sale.html;
    }

    location / {
        proxy_pass http://muctool:1180;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name www.loxal.org;

    include /etc/nginx/snippets/ssl.conf;

    location = / {
        proxy_pass http://muctool:1180/domain-for-sale.html;
    }

    location / {
        proxy_pass http://muctool:1180;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name epvin.com;

    include /etc/nginx/snippets/ssl.conf;

    location = / {
        proxy_pass http://muctool:1180/domain-for-sale.html;
    }

    location / {
        proxy_pass http://muctool:1180;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name www.epvin.com;

    include /etc/nginx/snippets/ssl.conf;

    location = / {
        proxy_pass http://muctool:1180/domain-for-sale.html;
    }

    location / {
        proxy_pass http://muctool:1180;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name erpiv.com;

    include /etc/nginx/snippets/ssl.conf;

    location = / {
        proxy_pass http://muctool:1180/domain-for-sale.html;
    }

    location / {
        proxy_pass http://muctool:1180;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name www.erpiv.com;

    include /etc/nginx/snippets/ssl.conf;

    location = / {
        proxy_pass http://muctool:1180/domain-for-sale.html;
    }

    location / {
        proxy_pass http://muctool:1180;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name muctool.de;

    include /etc/nginx/snippets/ssl.conf;
    include /etc/nginx/snippets/cors.conf;

    location / {
        proxy_pass http://muctool:1180;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name api.muctool.de;

    include /etc/nginx/snippets/ssl.conf;
    include /etc/nginx/snippets/cors.conf;

    location / {
        proxy_set_header upgrade $http_upgrade;
        proxy_set_header connection $connection_upgrade;

        proxy_pass http://muctool:1180;
    }

    location /whois {
        if ($arg_queryIP = '') {
            proxy_pass http://muctool:1180/whois?queryIP=$remote_addr;
        }
        proxy_pass http://muctool:1180;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name ci.loxal.net;

    include /etc/nginx/snippets/ssl.conf;

    location / {
        proxy_set_header upgrade $http_upgrade;
        proxy_set_header connection $connection_upgrade;
        
        proxy_pass http://teamcity-server:8111;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name sky.loxal.net;

    include /etc/nginx/snippets/ssl.conf;

    location / {
        include /etc/nginx/snippets/cors.conf;
        proxy_pass http://muctool:1180;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name mirror.muctool.de;

    #    wget --mirror --convert-links --adjust-extension --page-requisites --no-parent https://example.com
    root /srv/mirror;
    #    index index.html;

    include /etc/nginx/snippets/ssl.conf;

    location / {
        try_files $uri $uri/ $uri.html =404;
    }
}