swagger: "2.0"
info:
  description: Web Toolkit
  version: 1.0.0
  title: MUCtool API
  contact:
    email: alexander.orlov@loxal.net

  license:
    name: AGPL 3.0
    url: https://www.gnu.org/licenses/agpl-3.0.en.html

tags:
- name: admin
  description: Administrative calls
- name: public
  description: Regular calls

paths:
  /whois/city:
    get:
      tags:
      - public
      summary: Whois information
      operationId: lookup
      description: |
        Fetches Whois information regarding an IP address
      produces:
      - application/json
      parameters:
      - in: query
        name: queryIP
        description: pass an optional search string for looking up inventory
        required: true
        type: string
        format: string
      - in: query
        name: api_key
        description: API Key
        type: string
        format: uuid
      responses:
        200:
          description: search results matching criteria
          schema:
            type: array
            items:
              $ref: '#/definitions/CityWhois'
        400:
          description: invalid IPv4 or IPv6 address

definitions:
  CityWhois:
    type: object
    required:
    - id
    - name
    - manufacturer
    - releaseDate
    properties:
      id:
        type: string
        format: uuid
        example: d290f1ee-6c54-4b01-90e6-d701748f0851
      name:
        type: string
        example: Widget Adapter
      releaseDate:
        type: string
        format: int32
        example: 2016-08-29T09:12:33.001Z
      manufacturer:
        $ref: '#/definitions/CityWhois'

host: muctool.loxal.net
basePath: /loxal/SimpleAPI/1.0.0
schemes:
 - https