<?xml version="1.0" encoding="ISO-8859-1"?>

<!--
  ~ Copyright 2017 Alexander Orlov <alexander.orlov@loxal.net>. All rights reserved.
  -->

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1"
         metadata-complete="true">

    <servlet>
        <display-name>MUCtool</display-name>
        <servlet-name>Web Toolkit</servlet-name>
        <servlet-class>org.jetbrains.ktor.servlet.ServletApplicationHost</servlet-class>
        <multipart-config>
            <max-file-size>304857600</max-file-size>
            <max-request-size>304857600</max-request-size>
            <file-size-threshold>0</file-size-threshold>
        </multipart-config>
    </servlet>

    <servlet-mapping>
        <servlet-name>Web Toolkit</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>